/* Handle Splash Page / Loading Page CSS */

/* Container for loading spinner. */
.loading-spinner {
  height: 100px;
  width:  100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}